<!DOCTYPE html>

<html lang="es">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Titulo Página Web-->
    <title>Registro Mascota</title>

    <!-- Favicon Pagina Web -->
    <link rel="icon" type="image/png" href="/static/assets/favicon.png">

    <!-- Agregamos los enlaces a los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <!--Hoja de Estilos CSS-->
    <link rel="stylesheet" href="static/css/style.css">

    <!--Fuente de Google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <!--Animación Inicio-->
    <style>
      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      body {
        animation: fade-in 2s;
      }
    </style>

  </head>

    <body class="cuerpo-historias">

        <!-- Creamos la navbar -->
        <nav class="navbar navbar-expand-lg bg-dark" style="max-height:200px;">

            <img class="logo-navbar" src="/static/assets/favicon.png" alt="Logo Animal City" style="width: 2.5%; margin-right: 10px;">
            <a class="navbar-brand" href="menu" style="color: white; font-size: x-large; font-weight: bold; font-family: 'Poppins', sans-serif;">Animal City:</a>
            <a class="navbar-brand" href="menu" style="color: white; font-size: x-large; font-family: 'Poppins', sans-serif;">Sistema de Gestión</a>


            <div class="collapse navbar-collapse" id="navbarNav" style="align-content: center;">
              
              <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                  <a class="nav-link" href="menu" style="color: white; font-family: 'Poppins', sans-serif;">Inicio</a>
                </li>

                <li class="nav-item"">
                  <a class="nav-link" href="#" style="color: white; font-family: 'Poppins', sans-serif;">Acerca de</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#"  style="color: white; font-family: 'Poppins', sans-serif;">Contacto</a>
                </li>

              </ul>

            </div>

        </nav>
        <!-- Fin Navbar-->
 

        <div class="container-registro" style="max-width: 600px;">
            <div class="card" style="margin-top: 10px;">
              <div class="card-body">
                <h5 class="card-title" style="font-weight:bold; font-family: 'Poppins', sans-serif; font-size:25px; text-align:center; margin-bottom:30px;">Registro de Mascotas</h5>

                <form method="POST">
                 {%csrf_token%}     
                 
                 <div class="form-row">
                  <div class="col-md-6">
                  {{Mascotaf}}
                 </div>
                  <div class="col-md-6">
                  {{fpersona}} 
                 </div>
                 
               
                 
                </div>
                <div class="form-group text-center" style="margin-top: 20px; margin-bottom: 0px">
                  <button type="submit" class="btn btn-success btn-md" style="font-family: 'Poppins',sans-serif;">Registrar Historia</button>
                </div>
              </form>
                

                  <!-- <form>

                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-6">
                        <label for="nombre-dueno" style="font-size:small; font-family: 'Poppins', sans-serif;">Nombre del dueño*</label>
                        <input type="text" class="form-control form-control-sm" id="nombre-dueno" placeholder="Nombre del dueño" required>
                      </div>
                      
                      <div class="col-md-6">
                          <label for="telefono" style="font-size:small; font-family: 'Poppins', sans-serif;">Teléfono*</label>
                          <input type="tel" class="form-control form-control-sm" id="telefono" placeholder="Número de teléfono" maxlength="10" pattern="[0-9]{10}" required>
                      </div>

                    </div>
                    

                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-12">
                        <label for="email" style="font-size:small; font-family: 'Poppins', sans-serif;">Correo electrónico*</label>
                        <input type="email" class="form-control form-control-sm" id="email" placeholder="Correo electrónico" required>
                      </div>
                    
                    </div>


                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-12">
                        <label for="direccion" style="font-size:small; font-family: 'Poppins', sans-serif;">Dirección*</label>
                        <input type="text" class="form-control form-control-sm" id="direccion" placeholder="Dirección del dueño" required>
                      </div>
                    
                    </div>

                    
                    <hr style="margin-bottom: 5px;">
                  

                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-6">
                        <label for="nombre" style="font-size:small; font-family: 'Poppins', sans-serif;">Nombre del animal*</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" placeholder="Nombre del Animal" required>
                      </div>

                      <div class="col-md-6">
                        <label for="fecha-nacimiento" style="font-size:small; font-family: 'Poppins', sans-serif;">Fecha de nacimiento*</label>
                        <input type="date" class="form-control form-control-sm" id="fecha-nacimiento" required>
                      </div>

                    </div>


                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-4">
                        <label for="sexo" style="font-size:small; font-family: 'Poppins', sans-serif;">Sexo (M/F)*</label>
                        <select class="form-control form-control-sm" id="sexo" required>
                          <option value="">-- Sexo del Animal --</option>
                          <option value="M">M</option>
                          <option value="F">F</option>
                        </select>
                      </div>

                      <div class="col-md-4">
                        <label for="raza" style="font-size:small; font-family: 'Poppins', sans-serif;">Raza*</label>
                        <input type="text" class="form-control form-control-sm" id="raza" placeholder="Raza del Animal" required>
                      </div>

                      <div class="col-md-4">
                        <label for="peso" style="font-size:small; font-family: 'Poppins', sans-serif;">Peso (entre 1-100 kg)*</label>
                        <input type="number" class="form-control form-control-sm" id="peso" placeholder="Peso del Animal" min="1" max="100" required>
                      </div>

                    </div>


                    <div class="form-row" style="margin-bottom: 10px;">

                      <div class="col-md-6">
                        <label for="estado-salud" style="font-size:small; font-family: 'Poppins', sans-serif;">Estado de salud*</label>
                        <textarea class="form-control form-control-sm" id="estado-salud" placeholder="Estado de salud del animal." maxlength="150" required></textarea>
                      </div>

                      <div class="col-md-6">
                        <label for="condicion-medica" style="font-size:small; font-family: 'Poppins', sans-serif;">Condición médica*</label>
                        <textarea class="form-control form-control-sm" id="condicion-medica" placeholder="Condición médica del animal." maxlength="300" required></textarea>
                      </div>

                    </div>


                      <div class="form-group text-center" style="margin-top: 20px; margin-bottom: 0px">
                        <button type="submit" class="btn btn-success btn-md" style="font-family: 'Poppins',sans-serif;">Registrar Historia</button>
                      </div>

                  </form> -->


              </div>
            </div>
          </div>
          
        <!--End of Row Container-->

            <!-- Agregamos los enlaces a los archivos JavaScript de Bootstrap -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
  </html>
